@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: #eee;
    font-family: "Montserrat";

}

.container-fluid-profile{
  padding-top: 5%;
  padding-bottom: 10%;
}

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    background-color: #4B0082;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    background-color: #4B0082;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1)
}

.status-btn{
  font-size: 9px;
  font-weight: bolder;
}

.t_details{
  padding-bottom: 10%; 
}

.fonts {
    font-size: 11px
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #4B0082;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #4B0082 !important;
    color: #fff;
    height: 40px
}

.buttons button:nth-child(1):hover {
    border: 1px solid #4B0082 !important;
    color: #fff;
    height: 40px;
    background-color: #4B0082
}

.buttons button:nth-child(2) {
    border: 1px solid #4B0082 !important;
    background-color: #4B0082;
    color: #fff;
    height: 40px
}
